feedparser~=6.0.12
hmmlearn~=0.3.3
joblib~=1.5.3
lightgbm~=4.6.0
matplotlib~=3.10.9
metatrader5~=5.0.5735
mlflow~=3.10.0
numpy~=2.4.4
optuna~=4.7.0
pandas~=3.0.2
Pillow~=12.2.0
plotly~=6.6.0
pytest~=9.0.2
python_dateutil~=2.9.0.post0
pytrends~=4.9.2
Requests~=2.33.1
schedule~=1.2.2
scikit_learn~=1.8.0
scipy~=1.17.1
shap~=0.51.0
streamlit~=1.56.0
yfinance~=1.2.0
